<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>

    <br>
    <a href="/cars">Show all cars</a>
    <br><br>
    <a href="/cars/?count=1">Show 1 car</a>
    <br><br>
    <a href="/cars/?count=2">Show 2 cars</a>
    <br><br>
    <a href="/cars/?count=3">Show 3 cars</a>
    <br><br>
    <a href="/cars/?count=4">Show 4 cars</a>
    <br><br>
    <a href="/cars/?count=5">Show 5 cars</a>
    <br>

</div>
</body>
</html>